.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-dark);
    padding: 1.6rem;
    animation: slideInY 0.5s ease-in-out forwards;
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.3);

    &-text {
        color: var(--color-accent);
        animation: slideRightX 0.7s ease-in-out forwards;
        font-weight: bold;
    }

    &__wrap {
        flex-grow: 1;
        max-width: 80rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left {
        flex-grow: 1;
    }

    .right {
        animation: slideLeftX 1s ease-in-out forwards;
    }

    @keyframes slideInY {
        from {
            transform: translateY(-10rem);
        }

        to {
            transform: none;
        }
    }

    @keyframes slideRightX {
        from {
            transform: translateX(-100vw);
        }

        to {
            transform: none;
        }
    }

    @keyframes slideLeftX {
        from {
            transform: translateX(100vw);
        }

        to {
            transform: none;
        }
    }
}
