.spinner {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: growIn 0.5s ease-in-out forwards;

    .breather {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 20rem;
        background-color: var(--color-dark);
        border-radius: 50%;
        animation: breathe 1s ease-in-out infinite alternate-reverse;
    }

    .text {
        color: var(--color-accent);
        font-weight: bold;
        display: block;
        font-size: 3rem;
        animation: counterBreathe 0.9s ease-in-out infinite alternate-reverse;
    }

    @keyframes breathe {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }

    @keyframes counterBreathe {
        from {
            transform: scale(1) rotate(-5deg);
        }

        to {
            transform: scale(0.9) rotate(5deg);
        }
    }

    @keyframes growIn {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }
}
